// Here you can add other styles
.btn-warning {
    background-color: #fce498 !important;
    border-color: #fce498 !important;
    color: #ffffff;
}

.btn-outline-warning:hover {
    background-color: #fce498 !important;
    border-color: #fce498 !important;
}

.btn-danger {
    background-color: #ffacbe !important;
    border-color: #ffacbe !important;
}

.btn-outline-danger:hover {
    background-color: #ffacbe !important;
    border-color: #ffacbe !important;
}

.md-accent {
    background-color: #ffacbe !important;
    border-color: #ffacbe !important;
}

.btn-success {
    background-color: #9df195 !important;
    border-color: #9df195 !important;
}

.btn-outline-success:hover {
    background-color: #9df195 !important;
    border-color: #9df195 !important;
}

.btn-info {
    background-color: #a4c8ee !important;
    border-color: #a4c8ee !important;
}

.btn-outline-info:hover {
    background-color: #a4c8ee !important;
    border-color: #a4c8ee !important;
}

.btn-primary {
    background-color: #bba7f7 !important;
    border-color: #bba7f7 !important;
}

.btn-outline-primary:hover {
    background-color: #bba7f7 !important;
    border-color: #bba7f7 !important;
}

.md-primary {
    background-color: #a689fd !important;
    border-color: #a689fd !important;
}